@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --bg: #0A0C21;
  --type-first: #d1dee6;
  --type-second: #F92A87;
  --color: #7D98A7;
}

body {
  font-family: 'Poppins', sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  max-width: 980px;
  margin: 0 auto 2rem auto;
  padding: .5rem;
}
